<form asp-action="Search" asp-controller="HangHoa" class="d-flex">
    <input type="search" class="form-control p-3" placeholder="Search..." aria-describedby="search-icon-1" name="query">
    <button class="border-0"><span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span></button>
</form>